.money-change.flex.items-center.justify-between.bg-gray-100.rounded-10p.py-2.px-4.mb-6(class="md:hidden")
  .inline-flex
    .text.text-gray-500.text-sm.leading-5.font-medium Money to:
    .valute.inline-flex.items-center.ml-2
      span.flag.mr-2
        svg(xmlns='http://www.w3.org/2000/svg' width='20' height='16' viewbox='0 0 20 16' fill='none')
          rect(x='0.25' y='0.75' width='19.5' height='14.5' rx='1.75' fill='white' stroke='#F5F5F5' stroke-width='0.5')
          mask#mask0_10635_67678(style='mask-type:alpha' maskunits='userSpaceOnUse' x='0' y='0' width='20' height='16')
            rect(x='0.25' y='0.75' width='19.5' height='14.5' rx='1.75' fill='white' stroke='white' stroke-width='0.5')
          g(mask='url(#mask0_10635_67678)')
            rect(x='13.334' y='0.5' width='6.66667' height='15' fill='#E43D4C')
            path(fill-rule='evenodd' clip-rule='evenodd' d='M0 15.5H6.66667V0.5H0V15.5Z' fill='#1BB65D')

      span.text.text-gray-700.text-sm.leading-5.font-medium Italy
  .change.text-blue-500.text-sm.leading-5.font-medium Change