.info-amount.rounded-md.p-2.w-full.bg-blue-800.bg-opacity-50.mx-4.mb-4(class="text-sm leading-5 font-medium")
  .inline-flex.justify-between.w-full
    span.text-blue-400 Conversion rate:
    span.text-blue-200 1 USD = 0.88 EUR 
  .inline-flex.justify-between.w-full(class="mt-2.5")
    span.text-blue-400 Originating amount:
    span.text-blue-200 $1,734.58