.nav-accordion.flex.justify-end.mb-9.cursor-pointer
    .nav-accordion__btn.bg-opacity-10.bg-black.rounded-lg.w-11.h-11.min-h-11.flex.items-center.justify-center(class="hover:bg-black hover:bg-opacity-30")
        svg.h-5.w-5.text-white(xmlns='http://www.w3.org/2000/svg' width='26' height='26' viewBox='0 0 26 26' fill='none')
            path(d='M18.6709 15.8289L15.1834 13.8033L8.12004 17.9137L18.5088 23.9562C18.666 24.0449 18.8625 23.9956 18.9558 23.8379C18.9853 23.7886 19 23.7295 19 23.6703L19 16.4007C19 16.1641 18.8772 15.9472 18.6709 15.8289Z' fill='white')
            path(d='M18.6709 10.171C18.8772 10.0527 19 9.83588 19 9.59931L19 2.32963C19 2.27048 18.9853 2.21134 18.9558 2.16205C18.8674 2.00434 18.666 1.95505 18.5088 2.04377L6.92153 8.78116C6.81838 8.8403 6.75453 8.94873 6.74961 9.06702L6.74961 17.1006L18.6709 10.171Z' fill='white')
