.modal.modal-message.fixed.z-10.inset-0.overflow-y-auto(aria-labelledby='modal-title' role='dialog' aria-modal='true' style="display:none;")
    .flex.items-center.justify-center.min-h-screen.py-4.px-4.text-center(class='sm:block sm:p-0')
        .fixed.inset-0.backdrop-filter.backdrop-blur.bg-black.bg-opacity-75.transition-opacity(aria-hidden='true')
        span.hidden(class='sm:inline-block sm:align-middle sm:h-screen' aria-hidden='true') ​
        .inline-block.align-bottom.bg-white.rounded-lg.px-4.pt-5.pb-4.text-left.overflow-hidden.shadow-xl.transform.transition-all(class='md:min-w-lg sm:my-8 sm:align-middle sm:max-w-sm sm:w-full sm:p-6')
            .close.p-3.w-12.h-12.cursor-pointer
                svg.text-gray-800(xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke='currentColor')
                    path(stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M6 18L18 6M6 6l12 12')
            div
                .mx-auto.flex-shrink-0.flex.items-center.justify-center.h-12.w-12.rounded-full.bg-blue-600.bg-opacity-10(class='h-10 w-10')
                    svg.h-5.w-5.text-blue-500(xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke='currentColor')
                        path(stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M8 10h.01M12 10h.01M16 10h.01M9 16H5a2 2 0 01-2-2V6a2 2 0 012-2h14a2 2 0 012 2v8a2 2 0 01-2 2h-5l-5 5v-5z')
                .mt-3.text-center(class='sm:mt-5')
                    h3#modal-title.text-lg.leading-6.font-medium.text-gray-900
                        | [PaymentMessageHeaderText]
                    .mt-3
                        p.text-sm.text-gray-500
                            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse lacinia ut velit ut vulputate. Donec arcu ipsum, cursus eu lorem eu, fringilla dapibus purus. Donec facilisis nisl libero, posuere euismod turpis bibendum ut. Nunc aliquet iaculis elit, ac ullamcorper tortor congue sit amet. Vestibulum eu fermentum tortor. Aenean maximus urna est.
            .mt-5(class='sm:mt-6')
                button.btn-step-next.px-6.py-4.w-full.shadow-form.text-base.font-medium.text-white.rounded-md.text-white.text-white(class='bg-btn-form hover:opacity-90 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:primary-light-blue md:w-80 m-auto block' type='button')
                    | OK