//- Navigation btn
mixin list(classItem, classPoint)
  li.item(class= classItem class= classPoint)
    block

.heading(class="md:hidden")
  include ../#parts/navigation-step--mobile.pug
.menu-container(class="menu bg-menu justify-center flex-wrap min-h-screen hidden md:w-4/12 md:flex")
  .menu.bg-menu.justify-center.flex-wrap.min-h-screen.hidden(class="md:w-4/12 md:flex")
    .sticky.flex.justify-between.flex-col.h-full.max-h-screen.top-0.min-w-220p(class="md:pt-10 md:pb-14  lg:pt-14 lg:pb-18")
      .block
        include ../#parts/menu__accordion.pug
        ul.menu-nav
          +list('flex mb-6 items-center')
            a.flex.items-center.cursor-default
              svg.h-5.w-5.text-white(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' fill='currentColor')
                path(fill-rule='evenodd' d='M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z' clip-rule='evenodd')
              span(class="text-sm font-medium text-white ml-4") Confirm Identity
          +list('flex mb-6 items-center')
            a.flex.items-center.cursor-default
              svg.h-5.w-5.text-white(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' fill='currentColor')
                path(fill-rule='evenodd' d='M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z' clip-rule='evenodd')
              span(class="text-sm font-medium text-white ml-4") Review Documents
          +list('mb-6')
            a.flex.items-center.cursor-default
              svg.h-5.w-5.text-white(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' fill='currentColor')
                path(fill-rule='evenodd' d='M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z' clip-rule='evenodd')
              span(class="text-sm font-medium text-white ml-4") Provide Signature
          +list('mb-6')
            a.flex.items-center.cursor-default
              span(class="flex-shrink-0 h-5 w-5 relative flex items-center justify-center")
                span(class="absolute h-4 w-4 rounded-full bg-white bg-opacity-10")
                span(class="relative block w-2 h-2 bg-white rounded-full")
              span(class="text-sm font-medium text-white ml-4") Receive Payment
          +list('flex mb-6 items-center opacity-30')
            a.flex.items-center.cursor-default
              span(class="flex-shrink-0 h-5 w-5 relative flex items-center justify-center bg-transparent rounded-full")
                .span(class="h-2 w-2 bg-gray-300 rounded-full")
              span(class="text-sm font-medium text-white ml-4") Complete Payment
      +Footer()