mixin content-block
    .flex(class="justify-center items-center md:bg-transparent bg-gray-50")
        .waiting.bg-white.rounded-lg(class="w-full md:mx-0")
            .title.text-xl.leading-7.font-semibold.mb-4.text-gray-900
                |  Session Timeout
            .text.text-sm.leading-5.font-normal.text-gray-800.my-4
                | You session will expire in:
            .time.text-black.text-5xl.leading-none.font-extrabold.tracking-tight.flex.justify-center.items-center.mt-6.mb-9
                .hour
                    span.bg-gray-50.border.border-gray-200.shadow-sm.rounded-md(class="px-1.5 py-2.5 mr-1") 0
                    span.bg-gray-50.border.border-gray-200.shadow-sm.rounded-md(class="px-1.5 py-2.5") 2
                span(class="mx-2.5") :
                .minute
                    span.bg-gray-50.border.border-gray-200.shadow-sm.rounded-md(class="px-1.5 py-2.5 mr-1") 1
                    span.bg-gray-50.border.border-gray-200.shadow-sm.rounded-md(class="px-1.5 py-2.5") 3
            .text.text-sm.leading-5.font-normal.text-gray-800.my-9
                | Select "Continue" to stay connected.
            button.justify-center.inline-flex.items-center.px-6.w-full.shadow-sm.text-base.font-medium.text-white.rounded-md.bg-primary-light-blue.py-4(class='hover:opacity-90 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:primary-light-blue md:w-full' type='button')
                | Continue

doctype html
include ../#includes/meta.pug
//- .container.relative.bg-gray-100
body.max-w-screen-lg.min-h-screen.container.mx-auto.font-inter.relative(class="bg-gray-100")
    .fixed(class="inset-0 z-10 overflow-y-auto inset-0")
        .text-center(class="max-w-inherit flex items-center justify-center min-h-screen py-4 px-4 sm:block sm:p-0")
            .fixed(class="inset-0 backdrop-filter backdrop-blur bg-black bg-opacity-75 transition-opacity")
            .hidden(class="sm:inline-block sm:align-middle sm:h-screen")
            .bg-white.rounded-lg.overflow-hidden(class="max-w-inherit inline-block align-bottom shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-xl sm:w-auto md:p-14 md:py-14 px-4 py-11 md:px-24 sm:mx-4 sm:mt-20 md:w-full w-full" style="max-width:540px")
                +content-block

    include ../#includes/scripts.pug