//- Footer
footer(class="footer py-5 w-full bg-white relative md:hidden md:mt-0 -mt-0.5")
    .copyright.flex.items-center.justify-center
        img.min-w-max(src="../../img/logo__copyright.svg", alt="logo footer", srcset="")
        span.font-medium.text-xs.mx-1
            | Powered by
        a(href="https://www.transcard.com/" target="_blank")
            img(src="../../img/logo__transcard.svg", alt="Transcard", srcset="")