//- Info
//- Title
mixin info__title()
  .info__title
    h1.text-3xl.font-normal.text-gray-800
      block
//- Body
mixin info__content()
  .info__content.text-sm.text-gray-500.font-normal.mt-4.mb-4
    block

doctype html
include ../#includes/meta.pug

// Else height > content, (class="min-h-screen flex flex-col justify-between bg-white")
body.max-w-screen-lg.m-auto.font-inter.container.relative(class="md:bg-gray-100 min-h-screen flex flex-col justify-between bg-white")
  .step(class="md:flex md:bg-none bg-dark-blue relative  md:max-h-full")
    //- Navigation btn
    mixin list(classItem, classPoint)
      li.item(class= classItem class= classPoint)
        block

    include ../#parts/navigation-step.pug

    section.flex.flex-col.justify-between.content.bg-white.rounded-tl-20p.rounded-tr-20p.min-h-80vh(class="md:rounded-none md:w-8/12 md:min-h-full pt-9 px-4 pb-4 md:p-10 lg:p-14")
      .step-block
        .info
          +info__title()
            span Sign <b class="font-bold">[SignatureHeaderText]</b>
        .upload-doc.text-sm.font-medium.flex.items-center.mt-6
          button.font-medium.draw.rounded-6p.text-white.bg-gray-100.text-gray-900.mr-5.py-2.px-3.cursor-pointer(class="focus:outline-none hover:bg-gray-50") Draw
          button.font-medium.type.rounded-6p.text-gray-900.mr-5.py-2.px-3.cursor-pointer(class="focus:outline-none hover:bg-gray-50") Type
        .preview-doc.bg-gray-50.relative.mt-4.rounded-16p
          .field-signature.pt-2.pb-4.bg-white.min-w-full(style="display:none")
            label(class="text-sm text-gray-700 font-medium mb-1 block" for="signature") Your full name
            input.w-full.block.inputdow-sm.border-gray-300.rounded-md(type='text' name='first_name' autocomplete='given-name' class='focus:ring-primary-light-blue focus:border-primary-light-blue sm:text-sm focus:text-red-900 sm:text-sm' placeholder="Vasile Schidu")
          .relative.min-h-doc-prev.mb-10
            img.absolute.inset-0(src="../../img/signature.png" alt="document" class="-translate-y-2/4	-translate-x-2/4 top-1/2 left-1/2 transform")
            button.clear.absolute.top-4.right-4.bg-white.border.border-gray-300.shadow.py-2.px-4.rounded-6p.cursor-pointer(class="focus:outline-none focus:ring-2 focus:ring-offset-2 focus:primary-light-blue hover:bg-gray-50") Clear
      .py-6.js-next-step(class="md:py-0")
        button.btn-step-next.justify-center.inline-flex.items-center.px-6.py-4.w-full.shadow-form.text-base.font-medium.rounded-10p.bg-indigo-600.text-white(class='bg-btn-form hover:opacity-90 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:primary-light-blue' type='button')
          | Sign



include ../#includes/footer.pug
  include ../#includes/scripts.pug

  script.
    $(document).ready(function(){
      $('.upload-doc .type').on('click', function(){
        $(this).addClass('bg-gray-100').parents('.step-block').find('.field-signature').show(300);
        $(this).parents('.step-block').find('.clear').addClass('hidden');
        $('.draw').removeClass('bg-blue-50 bg-gray-100').addClass('text-gray-500');
      });
      $('.upload-doc .draw').on('click', function(){
        $(this).addClass('bg-gray-100').parents('.step-block').find('.field-signature').hide(300);
        $(this).parents('.step-block').find('.clear').removeClass('hidden');
        $(this).parent().find('.type').removeClass('bg-gray-100')
      });
    });