//- Info
//- Title
mixin info__title()
  .info__title
    h1.text-3xl.font-normal.text-gray-800
      block
//- Body
mixin info__content()
  .info__content.text-sm.text-gray-500.font-normal.mt-4.mb-4
    block

doctype html
include ../#includes/meta.pug

// Else height > content, (class="min-h-screen flex flex-col justify-between bg-white")
body.max-w-screen-lg.m-auto.font-inter.container.relative(class="md:bg-gray-100 min-h-screen flex flex-col justify-between bg-white")
  .step(class="md:flex md:bg-none bg-dark-blue relative  md:max-h-full")
    //- Navigation btn
    mixin list(classItem, classPoint)
      li.item(class= classItem class= classPoint)
        block

    include ../#parts/navigation-step.pug
    section.flex.flex-col.justify-between.content.bg-white.rounded-tl-20p.rounded-tr-20p.min-h-80vh(class="md:rounded-none md:w-8/12 md:min-h-full pt-9 px-4 pb-4 md:p-10 lg:p-14")
      .step-block
        .info
          +info__title()
            span Sign <b class="font-bold">[SignatureHeaderText]</b>
        .upload-doc.text-sm.font-medium.flex.items-center.mt-6
          button.font-medium.draw.rounded-6p.text-white.bg-gray-100.text-gray-900.mr-5.py-2.px-3.cursor-pointer(class="focus:outline-none hover:bg-gray-50") Draw
          button.font-medium.type.rounded-6p.text-gray-900.mr-5.py-2.px-3.cursor-pointer(class="focus:outline-none hover:bg-gray-50") Type
        .preview-doc.rounded-16p.bg-gray-50.min-h-doc-prev.relative.mt-4.mb-2.border-red-300.border
          img.hidden.absolute.inset-0(src="../../img/signature.png" alt="document" class="-translate-y-2/4	-translate-x-2/4 top-1/2 left-1/2 transform")
          button.clear.absolute.top-4.right-4.bg-white.border.border-gray-300.shadow.py-2.px-4.rounded-6p.cursor-pointer(class="focus:outline-none focus:ring-2 focus:ring-offset-2 focus:primary-light-blue hover:bg-gray-50") Clear
        .error-notice.my-6.p-4.rounded-10p.flex.bg-red-50
          .close.cursor-pointer
            svg.h-5.w-5.text-red-400(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' fill='currentColor' aria-hidden='true')
              path(fill-rule='evenodd' d='M10 18a8 8 0 100-16 8 8 0 000 16zM8.707 7.293a1 1 0 00-1.414 1.414L8.586 10l-1.293 1.293a1 1 0 101.414 1.414L10 11.414l1.293 1.293a1 1 0 001.414-1.414L11.414 10l1.293-1.293a1 1 0 00-1.414-1.414L10 8.586 8.707 7.293z' clip-rule='evenodd')
          .info.text-red-800.font-normal.text-sm(class='ml-3.5')
            span.w-full
              | Tap and hold to draw or type in your digital signature.
      .py-6.js-next-step(class="md:py-0")
        button.btn-step-next.justify-center.inline-flex.items-center.px-6.py-4.w-full.shadow-form.text-base.font-medium.rounded-10p.bg-indigo-600.text-white(class='bg-btn-form hover:opacity-90 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:primary-light-blue' type='button')
          | Sign



include ../#includes/footer.pug
  include ../#includes/scripts.pug