mixin star-default()
    svg(xmlns='http://www.w3.org/2000/svg' width='36' height='36' viewBox='0 0 36 36' fill='none')
        path(d='M17.5465 2.16356C17.7257 1.7777 18.2743 1.7777 18.4535 2.16356L22.4118 10.687C22.6304 11.1576 23.0766 11.4818 23.5918 11.5443L32.9212 12.675C33.3436 12.7262 33.5131 13.2479 33.2015 13.5376L26.3184 19.936C25.9384 20.2893 25.7679 20.814 25.8677 21.3232L27.6753 30.5454C27.7571 30.9629 27.3133 31.2853 26.9415 31.0785L18.7293 26.5096C18.2758 26.2573 17.7242 26.2573 17.2707 26.5096L9.05845 31.0785C8.68667 31.2853 8.24287 30.9629 8.3247 30.5454L10.1323 21.3232C10.2321 20.814 10.0616 20.2893 9.68157 19.936L2.79852 13.5376C2.48691 13.2479 2.65643 12.7262 3.07879 12.675L12.4082 11.5443C12.9234 11.4818 13.3696 11.1576 13.5882 10.687L17.5465 2.16356Z' fill='#D1D5DB' stroke='#D1D5DB')

mixin star-active()
    svg(xmlns='http://www.w3.org/2000/svg' width='36' height='36' viewBox='0 0 36 36' fill='none')
        path(d='M17.5465 2.16356C17.7257 1.7777 18.2743 1.7777 18.4535 2.16356L22.4118 10.687C22.6304 11.1576 23.0766 11.4818 23.5918 11.5443L32.9212 12.675C33.3436 12.7262 33.5131 13.2479 33.2015 13.5376L26.3184 19.936C25.9384 20.2893 25.7679 20.814 25.8677 21.3232L27.6753 30.5454C27.7571 30.9629 27.3133 31.2853 26.9415 31.0785L18.7293 26.5096C18.2758 26.2573 17.7242 26.2573 17.2707 26.5096L9.05845 31.0785C8.68667 31.2853 8.24287 30.9629 8.3247 30.5454L10.1323 21.3232C10.2321 20.814 10.0616 20.2893 9.68157 19.936L2.79852 13.5376C2.48691 13.2479 2.65643 12.7262 3.07879 12.675L12.4082 11.5443C12.9234 11.4818 13.3696 11.1576 13.5882 10.687L17.5465 2.16356Z' fill='#F59E0B' stroke='#F59E0B')

mixin review-star__text-raiting()
    .text-red-600.text-sm.leading-5.font-medium(class="md:ml-4") Bad

mixin review-title()
    .title.text-gray-900.text-3xl.leading-9.font-normal(class='mt-3 mb-10') Thank you!
    
mixin review-star()
    .inline-flex.mt-2.w-full.items-center(class="justify-between md:justify-start")
        .inline-flex
            span(class="mr-2.5")
                +star-active
            span(class="mr-2.5")
                +star-active
            span(class="mr-2.5")
                +star-default
            span(class="mr-2.5")
                +star-default 
            span
                +star-default
        +review-star__text-raiting()

doctype html
include ../#includes/meta.pug

body.max-w-screen-lg.m-auto.font-inter.container.relative.bg-gray-100.min-h-screen.flex
    .m-auto(class="lg:w-1/2 md:w-8/12 md:h-full flex items-end justify-between md:min-h-full min-h-screen flex-wrap min-h-screen h-full md:bg-white bg-gray-50 rounded-lg")
        .modal-screen.w-full-h-full(class="flex justify-center items-center md:py-6 w-full")
            include ../#parts/thanks-you/default.pug
        .pb-4.w-full
            include ../#includes/footer.pug
include ../#includes/scripts.pug
script.
    $('footer').removeClass('md:hidden')
style.
    footer {
    background-color: transparent !important;
    }
