include ../components/ChangeMoney
include ../components/ChooseCountry
//- Info
//- Title
mixin info__title()
  .info__title
    h1.text-3xl.font-normal.text-gray-800
      block
//- Body
mixin info__content()
  .info__content.text-sm.text-gray-500.font-normal.mt-4.mb-4
    block


doctype html
include ../#includes/meta.pug

// Else height > content, (class="min-h-screen flex flex-col justify-between bg-white")
body.max-w-screen-lg.m-auto.font-inter.container.relative(class="md:bg-bgray-100 min-h-screen flex flex-col justify-between bg-white")
  .step(class="md:flex md:bg-none bg-dark-blue relative  md:max-h-full")
    //- Navigation btn
    mixin list(classItem, classPoint)
      li.item(class= classItem class= classPoint)
        block

    include ../#parts/navigation-step.pug

    section.content.bg-white.rounded-tl-20p.rounded-tr-20p.pt-9.px-4(class="md:rounded-none md:w-8/12 md:p-14 md:min-h-full md:pb-10")
      .balance.bg-balance.rounded-16p.shadow-2xl.flex.justify-center.items-center.text-center.flex-wrap.relative
        .text.uppercase.text-blue-200.text-sm.font-medium.pt-6.ww-full.leading-5 Your amount
        .cash.font-normal.text-5xl.text-white.py-3.w-full $1,734 <span class="opacity-50">.58</span>
        .company.bg-blue-800.rounded-14p.py-1.px-4.mb-7.mt-3.cursor-pointer.leading-5
          span.text-blue-400.text-xs.font-medium.pr-1 from
          span.text-white.text-sm.font-normal [Your company]
      .btn-block.text-sm.font-medium.text-black.my-9.flex.justify-between.items-center
        .message.cursor-pointer.bg-gray-50.flex.items-center(class="rounded-full p-2.5 md:w-2/6 md:w-1/3 md:justify-center md:py-2.5 hover:bg-gray-100 md:mr-2")
          svg.h-4.w-4.text-blue-500(class="mr-1.5" xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke='currentColor')
            path(stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M8 10h.01M12 10h.01M16 10h.01M9 16H5a2 2 0 01-2-2V6a2 2 0 012-2h14a2 2 0 012 2v8a2 2 0 01-2 2h-5l-5 5v-5z')
          span.text-overflow Message
        .expiration.cursor-pointer.bg-gray-50.flex.items-center.rounded-full(class="p-2.5 md:w-1/3 md:justify-center md:py-2.5 hover:bg-gray-100 md:mr-2")
          svg.h-4.w-4.text-blue-500(class="mr-1.5" xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke='currentColor')
            path(stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z')
          span.text-overflow Expiration
        .full-details.cursor-pointer.bg-gray-50.flex.items-center.rounded-full(class="p-2.5 md:w-1/3 md:justify-center md:py-2.5 hover:bg-gray-100")
          svg.h-4.w-4.text-blue-500(class="mr-1.5" xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke='currentColor')
            path(stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M4 6h16M4 12h16M4 18h16')
          span(class="xsm:w-auto xsm:overflow-visible xsm:whitespace-normal xxsm:w-28p xxsm:whitespace-nowrap xxsm:overflow-hidden") Full Details
      +ChangeMoney('IT')
      .info.text-center
        +info__title()
          | Get your <b class="font-bold">money:</b>
        .instant.cursor-pointer.bg-gray-50.py-5.px-4.mt-6.mb-4.rounded-10p(class="hover:bg-gray-100")
          span.bg-clip-text.text-transparent.bg-instant.font-bold.text-lg Instant to Spend
        .send.cursor-pointer.bg-gray-50.py-5.px-4.mb-6.rounded-10p(class="hover:bg-gray-100")
          span.bg-clip-text.text-transparent.bg-send.font-bold.text-lg Send to my Bank
        .check.cursor-pointer.pt-2(class="pb-3.5")
          span.text-gray-400.font-medium.text-xs(class="hover:text-gray-500")  No, I want a check

  +ChooseCountry('IT')
  include ../#parts/modal-message.pug
  include ../#parts/modal-expiration.pug
  include ../#parts/modal-full-details.pug
include ../#includes/footer.pug
include ../#includes/scripts.pug