include Flag

mixin ChangeMoney(country)
  -
    const mapCountries = {
      US: {
        img: 'US - United States',
        title: 'United States',
      },
      AU: {
        img: 'AU - Australia',
        title: 'Australia',
        extendFieldTitle: 'Branch ID',
        paymentAmount: '$2,312.76',
        origAmount: '$1,734.58',
        rate: '1 USD = 1.33 AUD'
      },
      IT: {
        img: 'IT - Italy',
        title: 'Italy',
        extendFieldTitle: 'Bank of Italy',
        paymentAmount: '€1,580.98',
        origAmount: '$1,734.58',
        rate: '1 USD = 0.88 EUR'
      },
    }
  .money-change.flex.items-center.justify-between.border.border-gray-300.rounded-md.py-2.px-3.mb-6.shadow-sm
    .inline-flex
      .valute.inline-flex.items-center
        +Flag(mapCountries[country].img, mapCountries[country].title)(class="mr-3")
        .name.span.text.text-gray-700.text-sm.leading-5.font-medium
          | #{mapCountries[country].title}
    button(
      class=[
        'text-sm text-blue-600 hover:text-blue-500 ml-auto rounded-sm',
        'focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-white focus:ring-blue-500'
      ]
    ).open-change-currency
      | Change destination
