//- Info
//- Title
mixin info__title()
  .info__title
    h1.text-3xl.font-normal.text-gray-800
      block
//- Body
mixin info__content()
  .info__content.text-sm.text-gray-500.font-normal.mt-4.mb-4
    block

doctype html
include ../#includes/meta.pug



body.max-w-screen-lg.m-auto.font-inter.container.relative.bg-gray-100
  include ../#parts/contact-disburser.pug
  .step(class="md:flex md:bg-none bg-dark-blue relative  md:max-h-full hidden md:hidden")
    //- Navigation btn
    mixin list(classItem, classPoint)
      li.item(class= classItem class= classPoint)
        block

    include ../#parts/navigation-step.pug
    section.flex.flex-col.justify-between.content.bg-white.rounded-tl-20p.rounded-tr-20p.min-h-80vh(class="md:rounded-none md:w-8/12 md:min-h-full pt-9 px-4 pb-4 md:p-10 lg:p-14 md:pb-9")
      .step-block.w-full
        .info
          +info__title()
            span Review your <b class="font-bold">[DocumentsHeaderText]</b>
          +info__content()
            p Please select to review the documents below before proceeding with your payment
          .accordion
            .item.p-4.rounded-6p.bg-gray-50
              .item__heading.flex.items-center.justify-between.cursor-pointer
                .title.flex.items-center
                  svg.h-4.w-4.text-primary-light-blue(xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke='currentColor')
                    path(stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M8 10h.01M12 10h.01M16 10h.01M9 16H5a2 2 0 01-2-2V6a2 2 0 012-2h14a2 2 0 012 2v8a2 2 0 01-2 2h-5l-5 5v-5z')
                  .ml-2.text-sm.text-black.font-medium [DocumentsHeaderText]
                svg.h-5.w-5.arrow-top.delay-150.duration-300.ease(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='#6B7280')
                  path(fill-rule='evenodd' d='M14.707 12.707a1 1 0 01-1.414 0L10 9.414l-3.293 3.293a1 1 0 01-1.414-1.414l4-4a1 1 0 011.414 0l4 4a1 1 0 010 1.414z' clip-rule='evenodd')
              .item__content.text-sm.text-gray-500.font-normal(class="mt-2.5")
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque nec elit elit. Vivamus dictum ante sit amet augue consectetur sollicitudin. Mauris non tortor sed mauris dictum dictum. Maecenas congue consequat urna a gravida. Sed in tristique proin.
        .attachment.mt-4
          .title.text-gray-600.font-medium.text-xs.uppercase(class="mb-2.5") Attachments
          .attachment-list(class="md:pr-2.5 md:max-h-66 md:overflow-y-scroll md:pr-4")
            .item.flex.border.rounded-xl.border-gray-300.shadow-sm(class="hover:border-gray-400 p-3.5 cursor-pointer")
              .image.border-gray-300.border.border-solid.rounded-md.w-7.min-w-max
                img(src="../../img/preview-doc.png" alt="preview" srcset="" class="p-0.5")
              .info.w-full.ml-3.overflow-hidden
                .title.text-sm.leading-5.text-gray-900.font-normal.text-parts-hide Document_Lorem_Ipsum_Dummy_Ipsum_Dummy
                ul.details.text-xs.text-gray-500.font-normal.flex.mt-2
                  li.format PDF
                  li.size.list-disc.ml-7 146.5 KB
            .item.flex.border.rounded-xl.border-gray-300.shadow-sm(class="hover:border-gray-400 p-3.5 mt-2.5 cursor-pointer")
              .image.border-gray-300.border.border-solid.rounded-md.w-7.min-w-max
                img(src="../../img/preview-doc.png" alt="preview" srcset="" class="p-0.5")
              .info.w-full.ml-3.overflow-hidden
                .title.text-sm.leading-5.text-gray-900.font-normal.text-parts-hide Document_Lorem_Ipsum_Dummy_Ipsum_Dummy
                ul.details.text-xs.text-gray-500.font-normal.flex.mt-2
                  li.format PDF
                  li.size.list-disc.ml-7 146.5 KB
            .item.flex.border.rounded-xl.border-gray-300.shadow-sm(class="hover:border-gray-400 p-3.5 mt-2.5 cursor-pointer")
              .image.border-gray-300.border.border-solid.rounded-md.w-7.min-w-max
                img(src="../../img/preview-doc.png" alt="preview" srcset="" class="p-0.5")
              .info.w-full.ml-3.overflow-hidden
                .title.text-sm.leading-5.text-gray-900.font-normal.text-parts-hide Document_Lorem_Ipsum_Dummy_Ipsum_Dummy
                ul.details.text-xs.text-gray-500.font-normal.flex.mt-2
                  li.format PDF
                  li.size.list-disc.ml-7 146.5 KB
            .item.flex.border.rounded-xl.border-gray-300.shadow-sm(class="hover:border-gray-400 p-3.5 mt-2.5 cursor-pointer")
              .image.border-gray-300.border.border-solid.rounded-md.w-7.min-w-max
                img(src="../../img/preview-doc.png" alt="preview" srcset="" class="p-0.5")
              .info.w-full.ml-3.overflow-hidden
                .title.text-sm.leading-5.text-gray-900.font-normal.text-parts-hide Document_Lorem_Ipsum_Dummy_Ipsum_Dummy
                ul.details.text-xs.text-gray-500.font-normal.flex.mt-2
                  li.format PDF
                  li.size.list-disc.ml-7 146.5 KB
            .item.flex.border.rounded-xl.border-gray-300.shadow-sm(class="hover:border-gray-400 p-3.5 mt-2.5 cursor-pointer")
              .image.border-gray-300.border.border-solid.rounded-md.w-7.min-w-max
                img(src="../../img/preview-doc.png" alt="preview" srcset="" class="p-0.5")
              .info.w-full.ml-3.overflow-hidden
                .title.text-sm.leading-5.text-gray-900.font-normal.text-parts-hide Document_Lorem_Ipsum_Dummy_Ipsum_Dummy
                ul.details.text-xs.text-gray-500.font-normal.flex.mt-2
                  li.format PDF
                  li.size.list-disc.ml-7 146.5 KB
            .item.flex.border.rounded-xl.border-gray-300.shadow-sm(class="hover:border-gray-400 p-3.5 mt-2.5 cursor-pointer")
              .image.border-gray-300.border.border-solid.rounded-md.w-7.min-w-max
                img(src="../../img/preview-doc.png" alt="preview" srcset="" class="p-0.5")
              .info.w-full.ml-3.overflow-hidden
                .title.text-sm.leading-5.text-gray-900.font-normal.text-parts-hide Document_Lorem_Ipsum_Dummy_Ipsum_Dummy
                ul.details.text-xs.text-gray-500.font-normal.flex.mt-2
                  li.format PDF
                  li.size.list-disc.ml-7 146.5 KB
            .item.flex.border.rounded-xl.border-gray-300.shadow-sm(class="hover:border-gray-400 p-3.5 mt-2.5 cursor-pointer")
              .image.border-gray-300.border.border-solid.rounded-md.w-7.min-w-max
                img(src="../../img/preview-doc.png" alt="preview" srcset="" class="p-0.5")
              .info.w-full.ml-3.overflow-hidden
                .title.text-sm.leading-5.text-gray-900.font-normal.text-parts-hide Document_Lorem_Ipsum_Dummy_Ipsum_Dummy
                ul.details.text-xs.text-gray-500.font-normal.flex.mt-2
                  li.format PDF
                  li.size.list-disc.ml-7 146.5 KB
      .pt-6.js-next-step
        button.btn-step-next.justify-center.inline-flex.items-center.px-6.py-4.w-full.shadow-form.text-base.font-medium.rounded-md.bg-indigo-600.text-white(class='bg-btn-form hover:opacity-90 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:primary-light-blue mb-4' type='button')
          | Accept
        button.mt-4.mr-auto.bg-white.border.border-gray-300.justify-center.items-center.px-6.w-full.shadow-sm.text-base.font-medium.text-gray-700.rounded-md(class='hover:opacity-90 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:primary-light-blue py-3 mr-6 md:flex hidden' type='button')
          | Dispute
