doctype html
include ../#includes/meta.pug

body.max-w-screen-lg.m-auto.font-inter.container.relative.bg-gray-100.min-h-screen.flex
    .m-auto.flex.justify-between.min-h-screen.flex-wrap.min-h-screen.h-full(class="md:w-8/12 md:h-full md:min-h-full w-full bg-white")
        .modal-screen.w-full-h-full.flex.justify-center.items-center.w-full.flex-col(class="md:py-6 bg-white md:w-96 md:h-32rem min-h-screen px-4 mx-auto")
            img(src="../../img/sent.svg")
            .title.text-2xl.leading-8.font-semibold.text-blue-500(class="w-full mt-6 mb-1 text-center")
                | Thank you for your inquiry!
            .text-gray-700.text-base.leading-6.font-medium.text-center.text-center.px-4
                | We have forwarded your request to the relevant team who will respond as soon as possible.

include ../#includes/scripts.pug
