//- Info
//- Title
mixin info__title()
    .info__title
            h1.text-3xl.font-normal.text-gray-800
                block
//- Body
mixin info__content()
    .info__content.text-sm.text-gray-500.font-normal.mt-4.mb-4
            block

doctype html
include ../#includes/meta.pug

body.max-w-screen-lg.m-auto.font-inter.container.relative.bg-gray-100
    .step(class="md:flex md:bg-none bg-dark-blue relative  md:max-h-full")
        //- Navigation btn
        mixin list(classItem, classPoint)
            li.item(class= classItem class= classPoint)
                block
                
        .heading(class="md:hidden")
            include ../#parts/navigation-step--mobile.pug
        .menu.bg-menu.justify-center.flex-wrap.min-h-screen.hidden(class="md:w-4/12 md:flex")
            .sticky.flex.justify-between.flex-col.h-full.max-h-screen.top-0.min-w-220p(class="md:pt-10 md:pb-14  lg:pt-14 lg:pb-18")
                .block
                    include ../#parts/menu__accordion.pug
                    ul.menu-nav
                        +list('flex mb-6 items-center')
                            a.flex.items-center.cursor-default
                                svg.h-5.w-5.text-white(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' fill='currentColor')
                                    path(fill-rule='evenodd' d='M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z' clip-rule='evenodd')
                                span(class="text-sm font-medium text-white ml-4") Confirm Identity
                        +list('flex mb-6 items-center')
                            a.flex.items-center.cursor-default
                                svg.h-5.w-5.text-white(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' fill='currentColor')
                                    path(fill-rule='evenodd' d='M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z' clip-rule='evenodd')
                                span(class="text-sm font-medium text-white ml-4") Review Documents
                        +list('mb-6')
                            a.flex.items-center.cursor-default
                                svg.h-5.w-5.text-white(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' fill='currentColor')
                                    path(fill-rule='evenodd' d='M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z' clip-rule='evenodd')
                                span(class="text-sm font-medium text-white ml-4") Provide Signature
                        +list('mb-6')
                            a.flex.items-center.cursor-default
                                span(class="flex-shrink-0 h-5 w-5 relative flex items-center justify-center")
                                    span(class="absolute h-4 w-4 rounded-full bg-white bg-opacity-10")
                                    span(class="relative block w-2 h-2 bg-white rounded-full")
                                span(class="text-sm font-medium text-white ml-4") Receive Payment
                        +list('flex mb-6 items-center opacity-30')
                            a.flex.items-center.cursor-default
                                span(class="flex-shrink-0 h-5 w-5 relative flex items-center justify-center bg-transparent rounded-full")
                                    .span(class="h-2 w-2 bg-gray-300 rounded-full")
                                span(class="text-sm font-medium text-white ml-4") Complete Payment
                .copyright.flex.items-end.justify-center.w-full
                    img.min-w-max(src="../../img/logo__copyright.svg", alt="logo footer", srcset="")
                    span.font-medium.text-xs.mx-1.text-white.opacity-40
                        | Powered by
                    a(href="https://www.transcard.com/" target="_blank")
                        img(src="../../img/logo__transcard__white.svg", alt="Transcard", srcset="")
        section.flex.flex-col.justify-between.content.bg-white.rounded-tl-20p.rounded-tr-20p.min-h-80vh(class="md:rounded-none md:w-8/12 md:min-h-full pt-9 px-4 pb-4 md:p-10 lg:p-14")
            .step-block
                .step-block__nav.hidden.items-start.justify-between.mb-11(class="md:flex")
                    a.cursor-default.flex.items-center.pt-4.border-t-2.border-primary-blue( aria-current='step' x-description='Current Step' class="w-1/2")
                        span.flex-shrink-0.h-5.w-5.relative.flex.items-center.justify-center(aria-hidden='true')
                            svg.h-4.w-4.text-primary-blue(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' fill='currentColor')
                                path(fill-rule='evenodd' d='M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z' clip-rule='evenodd')
                        span.ml-2.text-sm.font-medium.leading-4.text-gray-800 Card Details
                    a.cursor-default.flex.items-center.pt-4.border-t-2.border-primary-blue( aria-current='step' x-description='Current Step' class="w-1/2  md:items-start lg:items-center")
                        span.flex-shrink-0.h-5.w-5.relative.flex.items-center.justify-center(aria-hidden='true')
                            svg.h-4.w-4.text-primary-blue(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' fill='currentColor')
                                path(fill-rule='evenodd' d='M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z' clip-rule='evenodd')
                        span.ml-2.text-sm.font-medium.leading-4.text-gray-800 Account Information
                    a.cursor-default.flex.items-center.pt-4.border-t-2.border-primary-blue( aria-current='step' x-description='Next Step' class="w-1/2")
                        span.flex-shrink-0.h-5.w-5.relative.flex.items-center.justify-center(aria-hidden='true')
                            span.absolute.h-4.w-4.rounded-full.bg-primary-blue.opacity-20
                            span.relative.block.w-2.h-2.bg-primary-blue.rounded-full
                        span.ml-2.text-sm.font-medium.leading-4.text-gray-800 Summary
                .info
                    +info__title()
                        span One <b class="font-semibold">Final Step</b>
                    +info__content()
                        span Make sure all the details are accurate
                .balance.mt-6.bg-balance.rounded-16p.shadow-2xl.flex.justify-center.items-center.text-center.flex-wrap.relative
                    .text.uppercase.text-blue-200.text-xs.leading-5.font-medium.pt-6.ww-full Payment Amount
                    .cash.font-normal.text-5xl.text-white.py-3.w-full $1,734<span class="opacity-50">.58</span>
                    .company.bg-blue-800.rounded-14p.py-1.pl-4.pr-1.mb-7.mt-3.cursor-default.leading-5(class="flex items-center")
                        span.text-blue-400.text-xs.font-medium.pr-1.mr-1.uppercase Estimated Processing Time:
                        span.inline-flex.items-center.rounded-full.text-xs.font-normal.bg-green-500.text-white(class='px-2 py-0.5')
                            svg.h-3.w-3.text-white.mr-1(class='group-hover:text-indigo-800' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' fill='currentColor' aria-hidden='true')
                                path(fill-rule='evenodd' d='M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z' clip-rule='evenodd')
                            |   Instant
                .summary__info.pt-9
                    .inline-flex.items-center.rounded-md.bg-gray-50.mb-3.w-full.py-5.px-6(class="hover:bg-gray-100")
                        .line.w-full.mr-4
                            .mb-3
                                svg(xmlns='http://www.w3.org/2000/svg' width='49' height='32' viewBox='0 0 49 32' fill='none')
                                    rect(width='49' height='32' rx='6' fill='#111827')
                                    path(d='M19.9961 8.13232H28.7889V23.8676H19.9961V8.13232Z' fill='#F16022')
                                    path(d='M20.5186 16C20.5186 12.8382 22.0089 9.97059 24.3934 8.13235C22.6795 6.80882 20.5186 6 18.1341 6C12.5454 6 8 10.4853 8 16C8 21.5147 12.5454 26 18.1341 26C20.5186 26 22.6795 25.1912 24.3934 23.8676C22.0089 22.0294 20.5186 19.1618 20.5186 16Z' fill='#E91D25')
                                    path(d='M40.7879 16C40.7879 21.5147 36.2425 26 30.6538 26C28.2693 26 26.1084 25.1912 24.3945 23.8676C26.779 22.0294 28.2693 19.2353 28.2693 16C28.2693 12.8382 26.779 9.97059 24.3945 8.13235C26.1084 6.80882 28.2693 6 30.6538 6C36.2425 6 40.7879 10.4853 40.7879 16Z' fill='#F69E1E')
                                    path(d='M38.2051 24.1583V23.9985H38.9583V24.1583H38.6775V24.9156H38.4859V24.1583H38.2051Z' fill='#F69E1E')
                                    path(d='M39.0823 23.9985H39.3215L39.574 24.6147H39.5848L39.8373 23.9985H40.0765V24.9156H39.8884V24.3187H39.8808L39.6434 24.9111H39.5154L39.278 24.3164H39.2704V24.9156H39.0823V23.9985Z' fill='#F69E1E')
                            .text-sm.leading-5.font-normal.text-gray-900 Mastercard ending in 4242
                            .text-xs.leading-4.font-medium.text-gray-500(class="mt-0.5") Expires 12/24
                            .text-xs.leading-4.font-medium.text-gray-500(class="mt-0.5") Johnny Anderson
                        a.text-xs.leading-4.font-medium.text-primary-light-blue(href="" class="hover:text-opacity-90")
                            | Edit
                    .inline-flex.items-center.rounded-md.bg-gray-50.mb-3.w-full.py-5.px-6(class="hover:bg-gray-100")
                        .w-full
                            .line.w-full.mr-4
                                .text-xs.leading-4.font-medium.text-gray-500 Billing Address
                                .text-sm.leading-5.font-normal.text-gray-900.w-40 47 Anyviller RD NW #2 Anytown AZ 01234
                            .line.w-full.mt-4
                                .text-xs.leading-4.font-medium.text-gray-500 Date of Birth
                                .text-base.leading-6.font-normal.text-primary-black(class="md:text-sm md:leading-5") MM - DD - YYYY
                            .line.w-full.mt-4
                                .text-xs.leading-4.font-medium.text-gray-500 SSN (Social Security Number)
                                .text-base.leading-6.font-normal.text-primary-black(class="md:text-sm md:leading-5") ending in SSSS
                        a.text-xs.leading-4.font-medium.text-primary-light-blue(href="" class="hover:text-opacity-90")
                            | Edit
                    .inline-flex.items-center.rounded-md.bg-gray-50.mb-3.w-full.py-5.px-6(class="hover:bg-gray-100")
                        .line.w-full.mr-4
                            .text-xs.leading-4.font-medium.text-gray-500 Contact Info
                            .text-base.leading-6.font-normal.text-primary-black(class="md:text-sm md:leading-5") +1 (555) 987-6543
                            .text-base.leading-6.font-normal.text-primary-black(class="md:text-sm md:leading-5") sample@mail.com
                        a.text-xs.leading-4.font-medium.text-primary-light-blue(href="" class="hover:text-opacity-90")
                            | Edit
            .w-full.pb-8(class="md:pb-0 md:mt-6 mt-4")
                .w-full.mt-8.js-next-step.flex.justify-between.items-center(class="md:flex-row flex-col-reverse")
                    button.border.border-gray-300.mt-6.justify-center.items-center.px-6.py-4.w-full.shadow-sm.text-base.font-medium.rounded-md.text-gray-700(class='hover:opacity-90 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:primary-light-blue md:w-44 lg:w-64 w-full md:mt-0 mt-6 hidden md:inline-flex' style='max-height:56px' type='button')
                        span.inline-flex Back
                    button.btn-step-next.justify-center.inline-flex.items-center.px-6.py-4.w-full.shadow-form.text-base.font-medium.text-white.rounded-md(class='bg-btn-form hover:opacity-90 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:primary-light-blue md:w-44 lg:w-64 w-full' type='button')
                        | Deposit $1,734.58
                    

    .block(class="md:mt-24 md:hidden")
        include ../#includes/footer.pug
    include ../#parts/modal-VC.pug
include ../#includes/scripts.pug

script.
    $('#push_inst').on('click', function(){
        $(this).parent().addClass('bg-blue-50 border-2 border-blue-600').removeClass('bg-gray-50')
        $('#push_route').parent().removeClass('bg-blue-50 border-2 border-blue-600').addClass('bg-gray-50')
        $('.btn-confirm').addClass('shadow-form bg-btn-form text-white').removeClass('bg-gray-200 text-gray-400')
    })

    $('#push_route').on('click', function(){
        $(this).parent().addClass('bg-blue-50 border-2 border-blue-600').removeClass('bg-gray-50')
        $('#push_inst').parent().removeClass('bg-blue-50 bg-gray-50 border-2 border-blue-600').addClass('bg-gray-50')
        $('.btn-confirm').addClass('shadow-form bg-btn-form text-white').removeClass('bg-gray-200 text-gray-400')
    })