
article.markdown-body.entry-content.container-lg(itemprop='text')
  h2
    a#user-content-the-source-of-truth-is-the-design-in-figma.anchor(aria-hidden='true' href='#the-source-of-truth-is-the-design-in-figma')
      svg.octicon.octicon-link(viewBox='0 0 16 16' version='1.1' width='16' height='16' aria-hidden='true')
        path(fill-rule='evenodd' d='M7.775 3.275a.75.75 0 001.06 1.06l1.25-1.25a2 2 0 112.83 2.83l-2.5 2.5a2 2 0 01-2.83 0 .75.75 0 00-1.06 1.06 3.5 3.5 0 004.95 0l2.5-2.5a3.5 3.5 0 00-4.95-4.95l-1.25 1.25zm-4.69 9.64a2 2 0 010-2.83l2.5-2.5a2 2 0 012.83 0 .75.75 0 001.06-1.06 3.5 3.5 0 00-4.95 0l-2.5 2.5a3.5 3.5 0 004.95 4.95l1.25-1.25a.75.75 0 00-1.06-1.06l-1.25 1.25a2 2 0 01-2.83 0z')
    | The source of truth is the design in Figma:
  p
  div
    span Versioning board:
    a(href="https://www.figma.com/file/3xOqsx6FVPNEAiSSpPCLJN/Versions?node-id=72%3A0") https://www.figma.com/file/3xOqsx6FVPNEAiSSpPCLJN/Versions?node-id=72%3A0

    ul
      li Mobile v1.04:
        a(href="https://www.figma.com/file/3xOqsx6FVPNEAiSSpPCLJN/Versioning-Smart-Disbursements?node-id=8261%3A7264")  https://www.figma.com/file/3xOqsx6FVPNEAiSSpPCLJN/Versioning-Smart-Disbursements?node-id=8261%3A7264
      li Desctop v1.04:
        a(href="https://www.figma.com/file/3xOqsx6FVPNEAiSSpPCLJN/Versioning-Smart-Disbursements?node-id=8261%3A14120") https://www.figma.com/file/3xOqsx6FVPNEAiSSpPCLJN/Versioning-Smart-Disbursements?node-id=8261%3A14120
  h1
    a#user-content-sitemap-release-1.anchor(aria-hidden='true' href='#sitemap-release-1')
      svg.octicon.octicon-link(viewBox='0 0 16 16' version='1.1' width='16' height='16' aria-hidden='true')
        path(fill-rule='evenodd' d='M7.775 3.275a.75.75 0 001.06 1.06l1.25-1.25a2 2 0 112.83 2.83l-2.5 2.5a2 2 0 01-2.83 0 .75.75 0 00-1.06 1.06 3.5 3.5 0 004.95 0l2.5-2.5a3.5 3.5 0 00-4.95-4.95l-1.25 1.25zm-4.69 9.64a2 2 0 010-2.83l2.5-2.5a2 2 0 012.83 0 .75.75 0 001.06-1.06 3.5 3.5 0 00-4.95 0l-2.5 2.5a3.5 3.5 0 004.95 4.95l1.25-1.25a.75.75 0 00-1.06-1.06l-1.25 1.25a2 2 0 01-2.83 0z')
    | Sitemap (Release 1)
  h3
    a#user-content-home-screen-1.anchor(aria-hidden='true' href='#home-screen-1')
      svg.octicon.octicon-link(viewBox='0 0 16 16' version='1.1' width='16' height='16' aria-hidden='true')
        path(fill-rule='evenodd' d='M7.775 3.275a.75.75 0 001.06 1.06l1.25-1.25a2 2 0 112.83 2.83l-2.5 2.5a2 2 0 01-2.83 0 .75.75 0 00-1.06 1.06 3.5 3.5 0 004.95 0l2.5-2.5a3.5 3.5 0 00-4.95-4.95l-1.25 1.25zm-4.69 9.64a2 2 0 010-2.83l2.5-2.5a2 2 0 012.83 0 .75.75 0 001.06-1.06 3.5 3.5 0 00-4.95 0l-2.5 2.5a3.5 3.5 0 004.95 4.95l1.25-1.25a.75.75 0 00-1.06-1.06l-1.25 1.25a2 2 0 01-2.83 0z')
    | Home (Screen 1)
  ul
    li
      span Welcome Screen (1.0)
      br
      span
        a(href='/SMART-Disburse/Release-v1/Home/index.html' rel='nofollow') link
    li
      span Welcome Screeen - Example long text (1.1)
      br
      span
        a(href='/SMART-Disburse/Release-v1/Home/index--v2.html' rel='nofollow') link
    li
      span Welcome Screeen - Example short text (1.2)
      br
      span
        a(href='/SMART-Disburse/Release-v1/Home/index--v3.html' rel='nofollow') link
  h3
    a#user-content-authentication-screen-2.anchor(aria-hidden='true' href='#authentication-screen-2')
      svg.octicon.octicon-link(viewBox='0 0 16 16' version='1.1' width='16' height='16' aria-hidden='true')
        path(fill-rule='evenodd' d='M7.775 3.275a.75.75 0 001.06 1.06l1.25-1.25a2 2 0 112.83 2.83l-2.5 2.5a2 2 0 01-2.83 0 .75.75 0 00-1.06 1.06 3.5 3.5 0 004.95 0l2.5-2.5a3.5 3.5 0 00-4.95-4.95l-1.25 1.25zm-4.69 9.64a2 2 0 010-2.83l2.5-2.5a2 2 0 012.83 0 .75.75 0 001.06-1.06 3.5 3.5 0 00-4.95 0l-2.5 2.5a3.5 3.5 0 004.95 4.95l1.25-1.25a.75.75 0 00-1.06-1.06l-1.25 1.25a2 2 0 01-2.83 0z')
    | Questionary (Screen 2)
  ul
    li
      span Questionary (2.0, 2.1, 2.2, 2.3)
      br
      span
        a(href='/SMART-Disburse/Release-v1/Questionary/questionary.html' rel='nofollow') link
  h3
    a#user-content-review-doc-screen-3.anchor(aria-hidden='true' href='#review-doc-screen-3')
      svg.octicon.octicon-link(viewBox='0 0 16 16' version='1.1' width='16' height='16' aria-hidden='true')
        path(fill-rule='evenodd' d='M7.775 3.275a.75.75 0 001.06 1.06l1.25-1.25a2 2 0 112.83 2.83l-2.5 2.5a2 2 0 01-2.83 0 .75.75 0 00-1.06 1.06 3.5 3.5 0 004.95 0l2.5-2.5a3.5 3.5 0 00-4.95-4.95l-1.25 1.25zm-4.69 9.64a2 2 0 010-2.83l2.5-2.5a2 2 0 012.83 0 .75.75 0 001.06-1.06 3.5 3.5 0 00-4.95 0l-2.5 2.5a3.5 3.5 0 004.95 4.95l1.25-1.25a.75.75 0 00-1.06-1.06l-1.25 1.25a2 2 0 01-2.83 0z')
    | Document Review  (Screen 3)
  ul
    li
      span Document Review (3.0, 3.1) & Dispute popup (3.8)
      br
      span
        a(href='/SMART-Disburse/Release-v1/Document%20Review/review-doc.html' rel='nofollow') link
    h5
      a#user-content-document-views.anchor(aria-hidden='true' href='#document-views')
        svg.octicon.octicon-link(viewBox='0 0 16 16' version='1.1' width='16' height='16' aria-hidden='true')
          path(fill-rule='evenodd' d='M7.775 3.275a.75.75 0 001.06 1.06l1.25-1.25a2 2 0 112.83 2.83l-2.5 2.5a2 2 0 01-2.83 0 .75.75 0 00-1.06 1.06 3.5 3.5 0 004.95 0l2.5-2.5a3.5 3.5 0 00-4.95-4.95l-1.25 1.25zm-4.69 9.64a2 2 0 010-2.83l2.5-2.5a2 2 0 012.83 0 .75.75 0 001.06-1.06 3.5 3.5 0 00-4.95 0l-2.5 2.5a3.5 3.5 0 004.95 4.95l1.25-1.25a.75.75 0 00-1.06-1.06l-1.25 1.25a2 2 0 01-2.83 0z')
      | Document Views (3.2, 3.3, 3.4) Modals
    ul
      li
        span Document Review View all
        br
        span
          a(href='/SMART-Disburse/Release-v1/Document%20Review/review-doc--view-all-step.html' rel='nofollow') link
      li
        span Document Review 1 View (3.2)
        br
        span
          a(href='/SMART-Disburse/Release-v1/Document%20Review/review-doc__modal-doc__view.html' rel='nofollow') link
      li
        span Document Review accept v1 (3.3)
        br
      span
        a(href='/SMART-Disburse/Release-v1/Document%20Review/review-doc__modal-doc__accept-v1.html' rel='nofollow') link
      br
      li
        span Document Review, All Document accepted (3.4)
        br
      span
        a(href='/SMART-Disburse/Release-v1/Document%20Review/review-doc__modal-doc__accept-v3.html' rel='nofollow') link
      br
      li
        span Document Review, One Document only (3.5)
        br
      span
        a(href='/SMART-Disburse/Release-v1/Document%20Review/review-doc__modal-doc__accept-v5.html' rel='nofollow') link
      br
      li
        span Document Review, One Document only - Accepted (3.6)
        br
      span
        a(href='/SMART-Disburse/Release-v1/Document%20Review/review-doc__modal-doc__accept-v6.html' rel='nofollow') link
      br
      li
        span Document Review accept v2
      span
        a(href='/SMART-Disburse/Release-v1/Document%20Review/review-doc__modal-doc__accept-v2.html' rel='nofollow') link
      br
      li
        span Document Review accept v4
        br
      span
        a(href='/SMART-Disburse/Release-v1/Document%20Review/review-doc__modal-doc__accept-v4.html' rel='nofollow') link
      br
      br
    li
      span Document Review - All documents accepted (3.7)
      br
      a(href='/SMART-Disburse/Release-v1/Document%20Review/review-doc__all-accepted.html' rel='nofollow') link
    li
      span Document Review - 2 out of 3 documents accepted (3.8)
      br
      span
        a(href='/SMART-Disburse/Release-v1/Document%20Review/review-doc__two-accepted.html' rel='nofollow') link
    li
      span Document Review - Error (3.9)
      br
      span
        a(href='/SMART-Disburse/Release-v1/Document%20Review/review-doc__two-accepted-error.html' rel='nofollow') link

    li
      span Document Review - Contact Disburser (3.10)
      br
      a(href='/SMART-Disburse/Release-v1/Document%20Review/review-doc__contact-form.html' rel='nofollow') link
    li
      span Document Review - Contact Disburse - Thank you (3.11)
      br
      a(href='/SMART-Disburse/Release-v1/Document%20Review/review-doc__contact-form__thank-you.html' rel='nofollow') link
  h3
    a#user-content-document-sign-screen-4.anchor(aria-hidden='true' href='#document-sign-screen-4')
      svg.octicon.octicon-link(viewBox='0 0 16 16' version='1.1' width='16' height='16' aria-hidden='true')
        path(fill-rule='evenodd' d='M7.775 3.275a.75.75 0 001.06 1.06l1.25-1.25a2 2 0 112.83 2.83l-2.5 2.5a2 2 0 01-2.83 0 .75.75 0 00-1.06 1.06 3.5 3.5 0 004.95 0l2.5-2.5a3.5 3.5 0 00-4.95-4.95l-1.25 1.25zm-4.69 9.64a2 2 0 010-2.83l2.5-2.5a2 2 0 012.83 0 .75.75 0 001.06-1.06 3.5 3.5 0 00-4.95 0l-2.5 2.5a3.5 3.5 0 004.95 4.95l1.25-1.25a.75.75 0 00-1.06-1.06l-1.25 1.25a2 2 0 01-2.83 0z')
    | Signature (Screen 4)
  ul
    li
      span Signature & Signature Type (4.0 & 4.2)
      br
      span
        a(href='/SMART-Disburse/Release-v1/Signature/Document-sign.html' rel='nofollow') link
    li
      span  Signature Error (4.1)
      br
      span
        a(href='/SMART-Disburse/Release-v1/Signature/error.html' rel='nofollow') link
  h3
    a#user-content-payment-method-screen-5.anchor(aria-hidden='true' href='#payment-method-screen-5')
      svg.octicon.octicon-link(viewBox='0 0 16 16' version='1.1' width='16' height='16' aria-hidden='true')
        path(fill-rule='evenodd' d='M7.775 3.275a.75.75 0 001.06 1.06l1.25-1.25a2 2 0 112.83 2.83l-2.5 2.5a2 2 0 01-2.83 0 .75.75 0 00-1.06 1.06 3.5 3.5 0 004.95 0l2.5-2.5a3.5 3.5 0 00-4.95-4.95l-1.25 1.25zm-4.69 9.64a2 2 0 010-2.83l2.5-2.5a2 2 0 012.83 0 .75.75 0 001.06-1.06 3.5 3.5 0 00-4.95 0l-2.5 2.5a3.5 3.5 0 004.95 4.95l1.25-1.25a.75.75 0 00-1.06-1.06l-1.25 1.25a2 2 0 01-2.83 0z')
    | Choose Payment Method (Screen 5)
  ul
    li
      span Choose Payment Method (5.0 - 5.3)
      ul
        li (Message & Expired & Full Details)
    br
    span
      a(href='/SMART-Disburse/Release-v1/Payment%20Method/payment.html' rel='nofollow') link
  h3
    a#user-content-in-progress.anchor(aria-hidden='true' href='#in-progress')
      svg.octicon.octicon-link(viewBox='0 0 16 16' version='1.1' width='16' height='16' aria-hidden='true')
        path(fill-rule='evenodd' d='M7.775 3.275a.75.75 0 001.06 1.06l1.25-1.25a2 2 0 112.83 2.83l-2.5 2.5a2 2 0 01-2.83 0 .75.75 0 00-1.06 1.06 3.5 3.5 0 004.95 0l2.5-2.5a3.5 3.5 0 00-4.95-4.95l-1.25 1.25zm-4.69 9.64a2 2 0 010-2.83l2.5-2.5a2 2 0 012.83 0 .75.75 0 001.06-1.06 3.5 3.5 0 00-4.95 0l-2.5 2.5a3.5 3.5 0 004.95 4.95l1.25-1.25a.75.75 0 00-1.06-1.06l-1.25 1.25a2 2 0 01-2.83 0z')
    | Virtual Consumer Debit Card (Transcard VCN) (Screen 6-8)
  ul
    li
      span VCN - Get a Virtual Card & VCN - Card Sample Popup (6.0-6.1)
      br
      a(href='/SMART-Disburse/Release-v1/VCN/form.html')  link
    li
      span VCN - Get a Virtual Card Error
      br
      a(href='/SMART-Disburse/Release-v1/VCN/form__error.html') link
    li
      span VCN - Summary & Active button (7.0 - 7.1)
      br
      a(href='/SMART-Disburse/Release-v1/VCN/summary.html') link
    li
      span VCN - Final Screen (8.0)
      br
      a(href='/SMART-Disburse/Release-v1/VCN/final-step.html') link
  h3
    #user-content-in-progress.anchor(aria-hidden='true' href='#in-progress')
    svg.octicon.octicon-link(viewBox='0 0 16 16' version='1.1' width='16' height='16' aria-hidden='true')
      path(fill-rule='evenodd' d='M7.775 3.275a.75.75 0 001.06 1.06l1.25-1.25a2 2 0 112.83 2.83l-2.5 2.5a2 2 0 01-2.83 0 .75.75 0 00-1.06 1.06 3.5 3.5 0 004.95 0l2.5-2.5a3.5 3.5 0 00-4.95-4.95l-1.25 1.25zm-4.69 9.64a2 2 0 010-2.83l2.5-2.5a2 2 0 012.83 0 .75.75 0 001.06-1.06 3.5 3.5 0 00-4.95 0l-2.5 2.5a3.5 3.5 0 004.95 4.95l1.25-1.25a.75.75 0 00-1.06-1.06l-1.25 1.25a2 2 0 01-2.83 0z')
    | Consumer Debit Push Payment (Mastercard Send) (Screen 9-12)
  ul
    li
      span MC Send - Card Details (9.0, 9.2)
      br
      a(href='/SMART-Disburse/Release-v1/MC Send/card-details.html') link
    li
      span MC Send - Card Details - Card Details - Errors (9.3)
      br
      a(href='/SMART-Disburse/Release-v1/MC Send/card-details-error.html') link
    li
      span MC Send - Card Details - Error Notice (9.4)
      br
      a(href='/SMART-Disburse/Release-v1/MC Send/card-details-error__notice.html') link
    li
      span MC Send - Account Information (10.0)
      br
      a(href='/SMART-Disburse/Release-v1/MC Send/account-information.html') link
    li
      span MC Send - Summary (11.0)
      br
      a(href='/SMART-Disburse/Release-v1/MC Send/summary-v2.html') link
    li
      span MC Send - Final Screen (12.0)
      br
      a(href='/SMART-Disburse/Release-v1/MC Send/final-screen.html') link
  h3
    #user-content-in-progress.anchor(aria-hidden='true' href='#in-progress')
    svg.octicon.octicon-link(viewBox='0 0 16 16' version='1.1' width='16' height='16' aria-hidden='true')
      path(fill-rule='evenodd' d='M7.775 3.275a.75.75 0 001.06 1.06l1.25-1.25a2 2 0 112.83 2.83l-2.5 2.5a2 2 0 01-2.83 0 .75.75 0 00-1.06 1.06 3.5 3.5 0 004.95 0l2.5-2.5a3.5 3.5 0 00-4.95-4.95l-1.25 1.25zm-4.69 9.64a2 2 0 010-2.83l2.5-2.5a2 2 0 012.83 0 .75.75 0 001.06-1.06 3.5 3.5 0 00-4.95 0l-2.5 2.5a3.5 3.5 0 004.95 4.95l1.25-1.25a.75.75 0 00-1.06-1.06l-1.25 1.25a2 2 0 01-2.83 0z')
    | ACH (RTP and Direct Deposit ) (Screen 13-16)
  ul
    li
      span ACH - Account Details (13.0, 13.2)
      br
      a(href='/SMART-Disburse/Release-v1/ACH/account-details.html') link
    li
      span ACH - Account Details - Error (13.3)
      br
      a(href='/SMART-Disburse/Release-v1/ACH/account-details__error.html') link
    li
      span ACH - Billing Details (Other Details) (14.0)
      br
      a(href='/SMART-Disburse/Release-v1/ACH/billing-details.html') link
    li
      span ACH - Summary (15.0) & Popup (15.1, 15.2)
      br
      a(href='/SMART-Disburse/Release-v1/ACH/summary.html') link
    li
      span ACH - Final Screen (16.0)
      br
      a(href='/SMART-Disburse/Release-v1/ACH/final-screen.html') link
  h3
    #user-content-in-progress.anchor(aria-hidden='true' href='#in-progress')
    svg.octicon.octicon-link(viewBox='0 0 16 16' version='1.1' width='16' height='16' aria-hidden='true')
      path(fill-rule='evenodd' d='M7.775 3.275a.75.75 0 001.06 1.06l1.25-1.25a2 2 0 112.83 2.83l-2.5 2.5a2 2 0 01-2.83 0 .75.75 0 00-1.06 1.06 3.5 3.5 0 004.95 0l2.5-2.5a3.5 3.5 0 00-4.95-4.95l-1.25 1.25zm-4.69 9.64a2 2 0 010-2.83l2.5-2.5a2 2 0 012.83 0 .75.75 0 001.06-1.06 3.5 3.5 0 00-4.95 0l-2.5 2.5a3.5 3.5 0 004.95 4.95l1.25-1.25a.75.75 0 00-1.06-1.06l-1.25 1.25a2 2 0 01-2.83 0z')
    | Check (Physical Mail Delivery) (17 - 19)
  ul
    li
      span Check - Check Details (17.0)
      br
      a(href='/SMART-Disburse/Release-v1/Check/billing-details.html') link
    li
      span Check Summary (18.0) & Popup (18.1, 18.2)
      br
      a(href='/SMART-Disburse/Release-v1/Check/summary.html') link
    li
      span Check - Final Screen (19.0)
      br
      a(href='/SMART-Disburse/Release-v1/Check/final-screen.html') link
  h3
    #user-content-in-progress.anchor(aria-hidden='true' href='#in-progress')
    svg.octicon.octicon-link(viewBox='0 0 16 16' version='1.1' width='16' height='16' aria-hidden='true')
      path(fill-rule='evenodd' d='M7.775 3.275a.75.75 0 001.06 1.06l1.25-1.25a2 2 0 112.83 2.83l-2.5 2.5a2 2 0 01-2.83 0 .75.75 0 00-1.06 1.06 3.5 3.5 0 004.95 0l2.5-2.5a3.5 3.5 0 00-4.95-4.95l-1.25 1.25zm-4.69 9.64a2 2 0 010-2.83l2.5-2.5a2 2 0 012.83 0 .75.75 0 001.06-1.06 3.5 3.5 0 00-4.95 0l-2.5 2.5a3.5 3.5 0 004.95 4.95l1.25-1.25a.75.75 0 00-1.06-1.06l-1.25 1.25a2 2 0 01-2.83 0z')
    | Thank you Screeen (20)
  ul
    li
      span Thank you Screen (20.0)
      br
      a(href='/SMART-Disburse/Release-v1/Thank%20You/thank-you.html') link
    li
      span Thank you Screen - 1 star  (20.1)
      br
      a(href='/SMART-Disburse/Release-v1/Thank%20You/thank-you--1x.html') link
    li
      span Thank you Screen - 2 star (20.2)
      br
      a(href='/SMART-Disburse/Release-v1/Thank%20You/thank-you--2x.html') link
    li
      span Thank you Screen - 3 Star (20.3)
      br
      a(href='/SMART-Disburse/Release-v1/Thank%20You/thank-you--3x.html') link
    li
      span Thank you Screen - 4 Star (20.4)
      br
      a(href='/SMART-Disburse/Release-v1/Thank%20You/thank-you--4x.html') link
    li
      span Thank you Screen - 5 Star (20.5)
      br
      a(href='/SMART-Disburse/Release-v1/Thank%20You/thank-you--5x.html') link
    li
      span Thank you Screen - Thank you (20.6)
      br
      a(href='/SMART-Disburse/Release-v1/Thank%20You/thank-you--sumbit.html') link
  h3
    #user-content-in-progress.anchor(aria-hidden='true' href='#in-progress')
    svg.octicon.octicon-link(viewBox='0 0 16 16' version='1.1' width='16' height='16' aria-hidden='true')
      path(fill-rule='evenodd' d='M7.775 3.275a.75.75 0 001.06 1.06l1.25-1.25a2 2 0 112.83 2.83l-2.5 2.5a2 2 0 01-2.83 0 .75.75 0 00-1.06 1.06 3.5 3.5 0 004.95 0l2.5-2.5a3.5 3.5 0 00-4.95-4.95l-1.25 1.25zm-4.69 9.64a2 2 0 010-2.83l2.5-2.5a2 2 0 012.83 0 .75.75 0 001.06-1.06 3.5 3.5 0 00-4.95 0l-2.5 2.5a3.5 3.5 0 004.95 4.95l1.25-1.25a.75.75 0 00-1.06-1.06l-1.25 1.25a2 2 0 01-2.83 0z')
    | Error Screen (0.0 - 0.7)
  ul
    h4
      a#user-content-document-views.anchor(aria-hidden='true' href='#document-views')
        svg.octicon.octicon-link(viewBox='0 0 16 16' version='1.1' width='16' height='16' aria-hidden='true')
          path(fill-rule='evenodd' d='M7.775 3.275a.75.75 0 001.06 1.06l1.25-1.25a2 2 0 112.83 2.83l-2.5 2.5a2 2 0 01-2.83 0 .75.75 0 00-1.06 1.06 3.5 3.5 0 004.95 0l2.5-2.5a3.5 3.5 0 00-4.95-4.95l-1.25 1.25zm-4.69 9.64a2 2 0 010-2.83l2.5-2.5a2 2 0 012.83 0 .75.75 0 001.06-1.06 3.5 3.5 0 00-4.95 0l-2.5 2.5a3.5 3.5 0 004.95 4.95l1.25-1.25a.75.75 0 00-1.06-1.06l-1.25 1.25a2 2 0 01-2.83 0z')
      | Token
    ul
      li
        span Token Invalid (0.0)
        br
        a(href='/SMART-Disburse/Release-v1/Error/token__invalid.html') link
      li
        span Token Expired (0.1)
        br
        a(href='/SMART-Disburse/Release-v1/Error/token__expired.html') link
      li
        span Token processed (0.2)
        br
        a(href='/SMART-Disburse/Release-v1/Error/token__proccessed.html') link
      li
        span Token processed (0.2.1)
        br
        a(href='/SMART-Disburse/Release-v1/Error/token__proccessed_v2.html') link
    h4
      a#user-content-document-views.anchor(aria-hidden='true' href='#document-views')
        svg.octicon.octicon-link(viewBox='0 0 16 16' version='1.1' width='16' height='16' aria-hidden='true')
          path(fill-rule='evenodd' d='M7.775 3.275a.75.75 0 001.06 1.06l1.25-1.25a2 2 0 112.83 2.83l-2.5 2.5a2 2 0 01-2.83 0 .75.75 0 00-1.06 1.06 3.5 3.5 0 004.95 0l2.5-2.5a3.5 3.5 0 00-4.95-4.95l-1.25 1.25zm-4.69 9.64a2 2 0 010-2.83l2.5-2.5a2 2 0 012.83 0 .75.75 0 001.06-1.06 3.5 3.5 0 00-4.95 0l-2.5 2.5a3.5 3.5 0 004.95 4.95l1.25-1.25a.75.75 0 00-1.06-1.06l-1.25 1.25a2 2 0 01-2.83 0z')
      | Security Question
    ul
      li
        span Security Questions - Incorrect answer (0.4)
        br
        a(href='/SMART-Disburse/Release-v1/Error/security-question--incorrect.html') link
      li
        span Security Questions - Incorrect answer (0.5)
        br
        a(href='/SMART-Disburse/Release-v1/Error/security-question__modal--incorrect--modal.html') link
    h4
      a#user-content-document-views.anchor(aria-hidden='true' href='#document-views')
        svg.octicon.octicon-link(viewBox='0 0 16 16' version='1.1' width='16' height='16' aria-hidden='true')
          path(fill-rule='evenodd' d='M7.775 3.275a.75.75 0 001.06 1.06l1.25-1.25a2 2 0 112.83 2.83l-2.5 2.5a2 2 0 01-2.83 0 .75.75 0 00-1.06 1.06 3.5 3.5 0 004.95 0l2.5-2.5a3.5 3.5 0 00-4.95-4.95l-1.25 1.25zm-4.69 9.64a2 2 0 010-2.83l2.5-2.5a2 2 0 012.83 0 .75.75 0 001.06-1.06 3.5 3.5 0 00-4.95 0l-2.5 2.5a3.5 3.5 0 004.95 4.95l1.25-1.25a.75.75 0 00-1.06-1.06l-1.25 1.25a2 2 0 01-2.83 0z')
      | Processing Errors
    ul

      li
        span Processing Errors - Generic Screen (0.6)
        br
        a(href='/SMART-Disburse/Release-v1/Error/proccessing-errors--unable.html') link
      li
        span Processing Errors - Generic Screen (0.6) v2
        br
        a(href='/SMART-Disburse/Release-v1/Error/proccessing-errors--unable--v2.html') link
      li
        span Processing Errors -  Unable to process payment (0.6.1)
        br
        a(href='/SMART-Disburse/Release-v1/Error/proccessing-errors.html') link
      li
        span Processing Errors -  Unable to process payment(0.6.1) v2
        br
        a(href='/SMART-Disburse/Release-v1/Error/proccessing-errors--v2.html') link
      li
        span Processing Errors - Generic Screen (0.6-2)
        br
        a(href='/SMART-Disburse/Release-v1/Error/0.6-2.proccessing-errors.html') link

    h4
      a#user-content-document-views.anchor(aria-hidden='true' href='#document-views')
        svg.octicon.octicon-link(viewBox='0 0 16 16' version='1.1' width='16' height='16' aria-hidden='true')
          path(fill-rule='evenodd' d='M7.775 3.275a.75.75 0 001.06 1.06l1.25-1.25a2 2 0 112.83 2.83l-2.5 2.5a2 2 0 01-2.83 0 .75.75 0 00-1.06 1.06 3.5 3.5 0 004.95 0l2.5-2.5a3.5 3.5 0 00-4.95-4.95l-1.25 1.25zm-4.69 9.64a2 2 0 010-2.83l2.5-2.5a2 2 0 012.83 0 .75.75 0 001.06-1.06 3.5 3.5 0 00-4.95 0l-2.5 2.5a3.5 3.5 0 004.95 4.95l1.25-1.25a.75.75 0 00-1.06-1.06l-1.25 1.25a2 2 0 01-2.83 0z')
      | Waiting Screen
    ul
      li
        span Waiting Screen (0.7)
        br
        a(href='/SMART-Disburse/Release-v1/Error/waiting.html') link
      li
        span Session Time-out Screeens (0.8)
        br
        a(href='/SMART-Disburse/Release-v1/Error/waiting__time.html') link
      li
        span Session Time-out Screeens - Final screen (0.8.1)
        br
        a(href='/SMART-Disburse/Release-v1/Error/expired-session.html') link
h3
  #user-content-in-progress.anchor(aria-hidden='true' href='#in-progress')
  svg.octicon.octicon-link(viewBox='0 0 16 16' version='1.1' width='16' height='16' aria-hidden='true')
    path(fill-rule='evenodd' d='M7.775 3.275a.75.75 0 001.06 1.06l1.25-1.25a2 2 0 112.83 2.83l-2.5 2.5a2 2 0 01-2.83 0 .75.75 0 00-1.06 1.06 3.5 3.5 0 004.95 0l2.5-2.5a3.5 3.5 0 00-4.95-4.95l-1.25 1.25zm-4.69 9.64a2 2 0 010-2.83l2.5-2.5a2 2 0 012.83 0 .75.75 0 001.06-1.06 3.5 3.5 0 00-4.95 0l-2.5 2.5a3.5 3.5 0 004.95 4.95l1.25-1.25a.75.75 0 00-1.06-1.06l-1.25 1.25a2 2 0 01-2.83 0z')
  | Fix (XB Flow)
ul(style="width:max-content")
  //- li
  //-   span VCN - Get a Virtual Card & VCN - Card Sample Popup (6.0-6.1)
  //-   br
  //-   a(href='/SMART-Disburse/Release-v1/Fix/VCN--form.html') link
  //- li
  //-   span VCN - Default Country - US
  //-   br
  //-   a(href='/SMART-Disburse/Release-v1/Fix/VCN--form--default.html') link
  //- li
  //-   span VCN - Country change to XB
  //-   br
  //-   a(href='/SMART-Disburse/Release-v1/Fix/VCN--form--change.html') link
  //- hr

  //- li
  //-   span MC Send - Card Details (9.0, 9.2)
  //-   br
  //-   a(href='/SMART-Disburse/Release-v1/Fix/MC-Send--card-details.html') link
  //- li
  //-   span MC Send - Default Country - US
  //-   br
  //-   a(href='/SMART-Disburse/Release-v1/Fix/MC-Send--card-details--default.html') link
  //- li
  //-   span MC Send - Country change to XB
  //-   br
  //-   a(href='/SMART-Disburse/Release-v1/Fix/MC-Send--card-details--change.html') link
  //- li
  //-   span MC Send - Account information
  //-   br
  //-   a(href='/SMART-Disburse/Release-v1/Fix/MC-Send__account-information.html') link
  //- hr

  //- li
  //-   span ACH - Account details
  //-   br
  //-   a(href='/SMART-Disburse/Release-v1/Fix/ACH__account-details.html') link
  //- li
  //-   span ACH - Default Country - US
  //-   br
  //-   a(href='/SMART-Disburse/Release-v1/Fix/ACH__account-details--default.html') link
  //- li
  //-   span ACH - Country change to XB
  //-   br
  //-   a(href='/SMART-Disburse/Release-v1/Fix/ACH__account-details--change.html') link
  //- li
  //-   span ACH - Billing details
  //-   br
  //-   a(href='/SMART-Disburse/Release-v1/Fix/ACH__billing-details.html') link
  //- hr

  //- li
  //-   span Check - Check details
  //-   br
  //-   a(href='/SMART-Disburse/Release-v1/Fix/Check__billing-details.html') link
  //- li
  //-   span Check - Default Country - US
  //-   br
  //-   a(href='/SMART-Disburse/Release-v1/Fix/Check__billing-details--default.html') link
  //- li
  //-   span Check - Country change to XB
  //-   br
  //-   a(href='/SMART-Disburse/Release-v1/Fix/Check__billing-details--change.html') link
  //- hr


  h4 XB Italy
  li
    span Bank Transfer - Account Details
    br
    a(href='/SMART-Disburse/Release-v1/Fix/IT_Bank-transfer__account-details.html' target="_blank") link
  li
    span Bank Transfer - Account Details - Notification Rate changed
    br
    a(href='/SMART-Disburse/Release-v1/Fix/IT_Bank-transfer__account-details--notice.html' target="_blank") link
  li
    span Bank Transfer - Billing Details (Other Details)
    br
    a(href='/SMART-Disburse/Release-v1/Fix/IT_Bank-transfer__billing-details.html' target="_blank") link
  li
    span Bank Transfer - Summary
    br
    a(href='/SMART-Disburse/Release-v1/Fix/IT_Bank-transfer__summary.html' target="_blank") link
  li
    span Bank Transfer - Final Screen
    br
    a(href='/SMART-Disburse/Release-v1/Fix/IT_Bank-transfer__final-screen.html' target="_blank") link

  h4 XB Australia
  li
    span Bank Transfer - Account Details
    br
    a(href='/SMART-Disburse/Release-v1/Fix/AU_Bank-transfer__account-details.html' target="_blank") link
  li
    span Bank Transfer - Account Details - Notification Rate changed
    br
    a(href='/SMART-Disburse/Release-v1/Fix/AU_Bank-transfer__account-details--notice.html' target="_blank") link
  li
    span Bank Transfer - Billing Details (Other Details)
    br
    a(href='/SMART-Disburse/Release-v1/Fix/AU_Bank-transfer__billing-details.html' target="_blank") link
  li
    span Bank Transfer - Summary
    br
    a(href='/SMART-Disburse/Release-v1/Fix/AU_Bank-transfer__summary.html' target="_blank") link
  li
    span Bank Transfer - Final Screen
    br
    a(href='/SMART-Disburse/Release-v1/Fix/AU_Bank-transfer__final-screen.html' target="_blank") link


  h4 XB United States
  li
    span ACH - Account details
    br
    a(href='/SMART-Disburse/Release-v1/Fix/ACH__account-details.html') link
  li
    span ACH - Account Billing details
    br
    a(href='/SMART-Disburse/Release-v1/Fix/ACH__billing-details.html') link
  li
    span ACH - Account Summary
    br
    a(href='/SMART-Disburse/Release-v1/Fix/ACH__summary.html') link
  li
    span ACH - Account Final Screen
    br
    a(href='/SMART-Disburse/Release-v1/Fix/ACH__final-screen.html') link
  hr
  h4 Choose Payment Method
  li
    span Choose Payment Method - US
    br
    a(href='/SMART-Disburse/Release-v1/Fix/Payment-Method__us.html') link
  li
    span Choose Payment Method - IT
    br
    a(href='/SMART-Disburse/Release-v1/Fix/Payment-Method__it.html') link
  li
    span Choose Payment Method - AU
    br
    a(href='/SMART-Disburse/Release-v1/Fix/Payment-Method__au.html') link


  //- li
  //-   span Modal Default Country
  //-   br
  //-   a(href='/SMART-Disburse/Release-v1/Fix/Modal-default--form.html') link
  //- li
  //-   span Modal Change Curancy
  //-   br
  //-   a(href='/SMART-Disburse/Release-v1/Fix/Modal-change-curancy--form.html') link

style.
  a {
  color: blue;
  }
  span {
  color: #333333;
  }
  body {
  background: rgb(229 229 229 / 10%);
  }
